<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <filter>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <filter-class>bookshop.servlet.filter.AdminAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserAuthenticationFilter</filter-name>
        <filter-class>bookshop.servlet.filter.UserAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAuthenticationFilter</filter-name>
        <url-pattern>/cart.jsp</url-pattern>
    </filter-mapping>
</web-app>